<section id="sub-statistics">
  <div class="row text-center">
    <div class="medium-11 medium-offset-1 column end">
      <h2>/r/<%= @subreddit.name %></h2>
      <h5>Today's comments containing "your", "you're", or "you are"</h5>
      <p><span class="success label">Total comments:</span> <%=@comments.count%><br>
      <span class="alert label">Total errors:</span> <%=@comments.todays_errors.count%></p>

  <% if @comments %>
      <h5>Corrections done</h5>
    </div>
    <% @comments.todays_errors.each_slice(3) do |first_comment,second_comment, third_comment| %>
      <div class="row text-center">
        <div class="small-12 medium-4 column">
          <span class="alert label">from</span>
          <p><%=first_comment.body%></p>
          <span class="success label">to</span>
          <p><%=first_comment.retort%></p>
        </div>
        <% if second_comment %>
          <div class="small-12 medium-4 column">
            <span class="alert label">from</span>
            <p><%=second_comment.body%></p>
            <span class="success label">to</span>
            <p><%=second_comment.retort%></p>
          </div>
        <% end %>
        <% if third_comment %>
          <div class="small-12 medium-4 column">
            <span class="alert label">from</span>
            <p><%=third_comment.body%></p>
            <span class="success label">to</span>
            <p><%=third_comment.retort%></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>