<h4>/r/<%= @subreddit.name %></h4>
<h5>Today's comments containing "your", "you're", or "you are"</h5>
<p>Total comments: <%=@comments.count%><br>
Total errors: <%=@comments.todays_errors.count%></p>
<% if @comments %>
  <h5>Corrections done</h5>
  <% @comments.todays_errors.each_slice(2) do |first_comment,second_comment| %>
    <div class="row-fluid">
      <div class="span6">
        <div class="row-fluid">
          <p><span class="label label-warning">from</span><%=first_comment.body%></p>
          <p><span class="label label-success">to</span><%=first_comment.retort%></p>
        </div>
      </div>
      <div class="span6">
        <% if second_comment %>
          <div class="row-fluid">
            <p><span class="label label-warning">from</span><%=second_comment.body%></p>
            <p><span class="label label-success">to</span><%=second_comment.retort%></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>