<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1 class='homemade'><%= link_to "YourWrongBot", "http://www.yourwrongbot.com" %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <li><%= link_to "Hire Me", "https://www.linkedin.com/in/joweisner"  %></li>
            <li class="has-dropdown">
              <%= link_to "Subreddits", subreddits_path %>
              <ul class="dropdown">
                <% @subreddits.each do |subreddit| %>
                  <li><%= link_to subreddit.name, "/subreddits/"+subreddit.name %></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><%= link_to "About", about_path  %></li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>